In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("../../data/packagepredict/data.csv")

In [9]:
df.head()

         date  zonecode  quantity
0  2013-01-01         1       144
1  2013-01-02         1       158
2  2013-01-03         1       209
3  2013-01-04         1      1444
4  2013-01-05         1      1323

In [10]:
df.describe()

           zonecode      quantity
count  2.071411e+06  2.071411e+06
mean   5.008620e+02  2.633298e+03
std    2.886509e+02  2.691117e+03
min    1.000000e+00  1.000000e+00
25%    2.510000e+02  1.009000e+03
50%    5.010000e+02  1.856000e+03
75%    7.500000e+02  3.346000e+03
max    1.000000e+03  1.983900e+05

In [11]:
# 统计查看有多少数据缺失时间 (时间缺失数据如何处理)
# 将日期转化为星期 + 节假日(包括双11)
# 尝试GBDT + XGboost + lightGBM + 随机森林
# 尝试 LSTM ,ARIMA 模型

In [16]:
zone1 = df[df.zonecode == 1]

In [17]:
zone1.shape[0]

2120

In [23]:
zone1.dtypes

date        object
zonecode     int64
quantity     int64
dtype: object

In [32]:
import datetime as dt

In [34]:
ts = df['date']

In [37]:
ts.head(20).index

RangeIndex(start=0, stop=20, step=1)

In [39]:
abc = pd.date_range('2013',periods=2)

In [41]:
abc

DatetimeIndex(['2013-01-01', '2013-01-02'], dtype='datetime64[ns]', freq='D')

In [81]:
from datetime import timedelta
import seaborn as sn

In [53]:
dt.datetime(2013,1,1) + timedelta(2121)

datetime.datetime(2018, 10, 23, 0, 0)

In [56]:
# 统计总共多少网点
group = df.groupby(['zonecode'])

In [78]:
count = group.count()
count.rename(columns={'zonecode':'zonecode','date':'date_count','quanity':'q'},inplace = True)

In [79]:
group.dtypes

            date quantity
zonecode
1         object    int64
2         object    int64
3         object    int64
4         object    int64
5         object    int64
6         object    int64
7         object    int64
8         object    int64
9         object    int64
10        object    int64
11        object    int64
12        object    int64
13        object    int64
14        object    int64
15        object    int64
16        object    int64
17        object    int64
18        object    int64
19        object    int64
20        object    int64
21        object    int64
22        object    int64
23        object    int64
24        object    int64
25        object    int64
26        object    int64
27        object    int64
28        object    int64
29        object    int64
30        object    int64
...          ...      ...
971       object    int64
972       object    int64
973       object    int64
974       object    int64
975       object    int64
976       object    int64
977       object    int64
978       object    int64
979       object    int64
980       object    int64
981       object    int64
982       object    int64
983       object    int64
984       object    int64
985       object    int64
986       object    int64
987       object    int64
988       object    int64
989       object    int64
990       object    int64
991       object    int64
992       object    int64
993       object    int64
994       object    int64
995       object    int64
996       object    int64
997       object    int64
998       object    int64
999       object    int64
1000      object    int64

[1000 rows x 2 columns]