In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("../data.csv")

In [6]:
df.head()

         date  zonecode  quantity
0  2013-01-01         1       144
1  2013-01-02         1       158
2  2013-01-03         1       209
3  2013-01-04         1      1444
4  2013-01-05         1      1323

In [7]:
df.describe()

           zonecode      quantity
count  2.071411e+06  2.071411e+06
mean   5.008620e+02  2.633298e+03
std    2.886509e+02  2.691117e+03
min    1.000000e+00  1.000000e+00
25%    2.510000e+02  1.009000e+03
50%    5.010000e+02  1.856000e+03
75%    7.500000e+02  3.346000e+03
max    1.000000e+03  1.983900e+05

In [ ]:
# 统计查看有多少数据缺失时间 (时间缺失数据如何处理)
# 将日期转化为星期 + 节假日(包括双11)
# 尝试GBDT + XGboost + lightGBM + 随机森林
#